* {
  box-sizing: border-box
}

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Montserrat';
  color: #feffff;
  background-color: #1f202b;
}

h2 {
  color: #f70074;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Source Code Pro';
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: 1.5em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #feffff;
}

/*------------ GRID STYLES --------------*/

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}

